.icon {
	background: url(arrows.jpg) no-repeat;
	width: 18px;
	line-height: 18px;
	display: inline-block;
}

.tu0101 {
	background-position: -0px -0px;
}

.tu0201 {
	background-position: -20px -0px;
}



span {
	overflow: hidden;
	width: 0px;
	height: 0px;
	margin: 100px 100px 1000px;
	padding: 0;
	font-size: 0;
	border: 100px solid transparent;
	border-left-color: #00f;
}