html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#dialog label, #dialog input { display:block; }
#accordion {width: 200px;}
.demoHeaders { margin-top: 2em; }
.demoHeaders { margin-top: 2em; }

body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
			
#accordion ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

#accordion ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

#accordion ul li a{
color: #A70303;
background: url(arrowbullet.png) no-repeat center left; /*custom bullet list image*/
display: block;
padding: 2px 0;
padding-left: 19px; /*link text is indented 19px*/
text-decoration: none;
font-weight: bold;
border-bottom: 1px solid #dadada;
font-size: 90%;
}

#button { padding: .5em 1em; text-decoration: none; }
#effect { width: 100%; height: 100%; padding: 0.4em; position: relative; background: #fff; }
#effect h3 { margin: 0; padding: 0.4em; text-align: left; }
 
 

#menuLog { font-size:1.4em; margin:20px; }
.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }

.fg-button { clear:left; margin:0 4px 40px 20px; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
a.fg-button { float:left;  }
button.fg-button { width:auto; overflow:visible; } /* removes extra button width in IE */

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	

.fg-button.ui-state-loading .ui-icon { background: url(spinner_bar.gif) no-repeat 0 0; }

.head_other { padding-top:10px; height:37px;position:relative; z-index:1;}
        .head_other a {  float:right;z-index:1; margin-left:7px; height:29px; width:86px; overflow:hidden;position:relative;}		
        .head_other a img { position:absolute; top:0; left:0;}
        .head_other a:hover {zoom:1;}
        .head_other a:hover img {top:-29px;}
        .hot_span { position:absolute; display:block;right:183px; top:8px; height:11px; width:21px; line-height:0; 